.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.navbar__link {
    margin-left: 30px;
    color: #242424;
}


.btn {
    padding: 15px;
    border: none;
    background: #48D1CC;
    width: 200px;
    color: #242424;    
}

.btn-round {
    border-radius: 30px;
}

.btn-wide {
    width: 400px;
}

.btn-orange {
    background: #e67e22;
}