.buttons-exercise {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
  }
  
  h2 {
    color: white;
    text-align: center;
  }

.btn {
    padding: 15px;
    border: none;
    background: #48D1CC;
    width: 200px;
    color: #242424;    
}

.btn-round {
    border-radius: 30px;
}

.btn-wide {
    width: 400px;
}

.btn-orange {
    background: #e67e22;
}